.home-banner{
    background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url(../../../img/banner.jpg);
}

.banner-title{
    padding-top: 250px;
}

.classes-btn{
    margin-bottom: 200px;
}

.spinner{
    margin-left: 600px;
    margin-top: 100px;
    margin-bottom: 100px;
}